body{
	padding: 25px;
	color: gray;
	background-color: black;
}
.title {
	color: #5C6AC4;
}

.feedback-container {
  display: grid;
  grid-template-columns: 244px 244px 244px;
  width: 734px;
}

.reactor-container {
	width: 734px;
	background: gray;
	overflow-y: auto;
	position: relative;
}
.cell {
	width: 78px;
	height: 78px;
	float: left; /* Let the dropdown overlay the button. */
	background: lightgray;
	cursor: pointer;
}

/*.cell:hover, .cell:focus {
	background-color: #2980B9;
}*/

.cell-container {
	position: relative; /* Define the position, later used for the dropdown. */
	display: inline-block; /* Make the div only as wide as needed, instead over the whole line. */
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute; /* Allows overlaying. */
	background-color: #f1f1f1;
	width: 250px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	margin: 5px;
}

.dropdown-content button {
	width: 50px;
	height: 50px;
	cursor: pointer;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
	display: block;
}

/* Reactor components
	 ========================================================================== */
	 
.component-empty {
	background-color: #c9c9c9;
}
.component-empty:before {
	content: "Empty";
}
.component-fan {
	background-color: #18253e;
}
.component-fan:before {
	content: "Fan";
}
.component-he {
	background-color: red;
}
.component-he:before {
	content: "HE";
}
.component-dhe {
	background-color: red;
}
.component-dhe:before {
	content: "DHE";
}
.component-qhe {
	background-color: red;
}
.component-qhe:before {
	content: "QHE";
}
.component-e {
	background-color: green;
}
.component-e:before {
	content: "E";
}
.component-de {
	background-color: green;
}
.component-de:before {
	content: "DE";
}
.component-qe {
	background-color: green;
}
.component-qe:before {
	content: "QE";
}
.component-mo {
	background-color: blue;
}
.component-mo:before {
	content: "MO";
}
.component-dmo {
	background-color: blue;
}
.component-dmo:before {
	content: "DMO";
}
.component-qmo {
	background-color: blue;
}
.component-qmo:before {
	content: "QMO";
}
.component-bs {
	background-color: brown;
}
.component-bs:before {
	content: "BS";
}
.component-bl {
	background-color: brown;
}
.component-bl:before {
	content: "BL";
}
.component-bxl {
	background-color: brown;
}
.component-bxl:before {
	content: "BXL";
}
.component-hd {
	background-color: darkblue;
}
.component-hd:before {
	content: "HD";
}
.component-cb {
	background-color: orange;
}
.component-cb:before {
	content: "CB";
}
.component-pb {
	background-color: lightblue;
}
.component-pb:before {
	content: "PB";
}
.component-sb {
	background-color: silver;
}
.component-sb:before {
	content: "SB";
}
.component-gb {
	background-color: gold;
}
.component-gb:before {
	content: "GB";
}
.component-cb1 {
	background-color: yellow;
}
.component-cb1:before {
	content: "CB1";
}
.component-cb2 {
	background-color: yellow;
}
.component-cb2:before {
	content: "CB2";
}
.component-cb3 {
	background-color: yellow;
}
.component-cb3:before {
	content: "CB3";
}
.component-pp {
	background-color: #868191;
}
.component-pp:before {
	content: "PP";
}
.component-dpp {
	background-color: #868191;
}
.component-dpp:before {
	content: "DPP";
}
.component-qpp {
	background-color: #868191;
}
.component-qpp:before {
	content: "QPP";
}
.component-rtg {
	background-color: pink;
}
.component-rtg:before {
	content: "RTG";
}
.component-eb1 {
	background-color: cyan;
}
.component-eb1:before {
	content: "EB1";
}
.component-eb2 {
	background-color: cyan;
}
.component-eb2:before {
	content: "EB2";
}
.component-eb3 {
	background-color: cyan;
}
.component-eb3:before {
	content: "EB3";
}